@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');


body{
    font-family: 'Russo One', sans-serif;
    color: lightgray;
}





.logo-img{
    height: 5rem;
    width: 5rem;
}

.fab {
    text-decoration: none;
    color: gray;

}

.fab:hover {

    color: darkgray;


}
.center-me {
    margin: 0 auto !important;
}

